.field_list {
  /* margin: 0 auto; */
  counter-reset: section;
  list-style-type: none;
  padding: 20px;

  width: 900px;
  max-width: 900px;
  min-width: 320px;
  min-height: 300px;
  height: auto;

  text-align: start;
  font-size: 16px;
  font-weight: 500;
  word-spacing: normal;

  border-radius: 20px;
  background: rgb(239, 252, 0);
  color: black;
}
