.list_item_field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.list_item_field::before {
  counter-increment: section;
  content: "" counter(section) ") ";
}
.list_item_text {
  text-decoration: none;
  color: black;
}
.list_item_text_completed {
  text-decoration: line-through;
  color: red;
}
.ctrlBtn {
  background-color: inherit;
  border-radius: 50%;
  border: none;

  color: rgb(26, 23, 25);
  font-size: 16px;
  font-weight: 600;
}
.ctrlBtn:hover {
  color: rgb(2, 100, 247);
  background-color: inherit;
}
