.navDropdown_field {
  position: absolute;
  top: 10px;
}

li {
  list-style: none;
}
.dropDownItem {
  background-color: transparent;
}
.link {
  color: black;
  text-decoration: none;
  text-align: center;
}
.active_link {
  color: rgb(0, 255, 238);
  text-decoration: none;
}
.active_link:hover {
  color: rgb(0, 255, 238);
}
.link:hover {
  color: rgb(0, 255, 238);
}
